.Reviews {
  max-width: 1040px;
  padding-top: 4%;
  &_h2 {
    font-size: 2.7rem;
  }
}
.slide {
  align-items: center;
  min-height: 260px;
  padding: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
  &_author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__image {
      border-radius: 50%;
    }
    &__name {
      margin-left: 5%;
      font-size: 1rem;
    }
  }
  &_body {
    min-height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    &__text { 
      font-size: 1rem;
      text-align: left;
    }
    &__date {
      color: $gray-600;
      font-size: .7rem;
      text-align: right;
    }
  }
  &_add {
    display: flex;
    flex-direction: column;
    align-items: center;
      &_buttonnewrev {
        display: block;
        width: 10.25rem;
        height: 10.25rem;
        border-radius: 50%;
        border: 2px solid #fff;
        background: black;
        position: relative;
        //margin: 1.875rem 0 1.875rem 0;
        margin: 5%;
            &::before {
                content: "+";
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                font-size: 4.5rem;
                font-weight: 300;
                color: #fff;
            }
      }
  }
}
.addreview_form {
  display: flex;
  flex-direction: column;
  &__p {
    margin-bottom: 10%;
  }
  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    outline: none;
    padding: 5px 0;
    width: 100%;
  }
  &__button {
    background: #03a9f4;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2% 2% 0% 2%;
    display: inline-block;
  }
}
@media screen and (max-width: $bigtablets) {
  .Reviews {
    max-width: 100% !important;
    padding-top: 4%;
    &_h2 {
      font-size: 2.7rem;
    }
  }
}

