/* 
//sizes
$desktopHd: 1800px;
$desktop: 1200px;
$bigtablets: 992px;
$tablets: 768px;
$phones: 480px;
$phones_min: 320px;

*/
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        &_h1 { 
            text-align: left;
            margin-left: 2.5%;
            border-bottom: 1px solid gray;
            width: fit-content;
        };
}
.category_item { 
    border: 1px solid darkgray;
    border-radius: 25px;
    padding: 5%;
    margin: 2% 2.5% 0% 2.5%;
    flex-basis: 28.3%;
    flex-grow: 0;
    box-shadow: 1px 1px 24px 0 $gray-900;
    min-width: 28%;
}



@media screen and (max-width: $desktop) {
    .category_item {
        flex-basis: 45% !important;
    }
    
}
@media screen and (max-width: $tablets) {
    .category_item {
        flex-basis: 95% !important;
    }
    
}



